
<mat-card class="text-center">
    <mat-card-title><mat-icon color="primary">thumb_up</mat-icon></mat-card-title>
    <mat-card-title class="my-3"> Survey Completed</mat-card-title>
    <mat-card-title class="my-4">Thank You !!!</mat-card-title>
    <mat-card-content>Your feedback is valueable for us, thanks for a being a part of our survey.</mat-card-content>
    <mat-card-title><mat-icon color="primary">check_circle</mat-icon></mat-card-title>
    <mat-card-actions class="my-5">
        <a mat-raised-button [routerLink]="['']" color="primary"> Back to Homepage </a>
    </mat-card-actions>
</mat-card>