table {
    width: 100%;
  }

  .row{
    margin:0;
    margin-top: 10px ;
  }

  .bar-5 {
    height: 18px; 
    background-color: #4CAF50;
  }

  .bar-4 { 
    height: 18px; 
    background-color: #2196F3;
  }

  .bar-3 {
    height: 18px; 
    background-color: #00bcd4;
  }

  .bar-2 {
    height: 18px; 
    background-color: #ff9800;
  }

  .bar-1 {
    height: 18px; 
    background-color: #f44336;
  }

  .middle{
    width: 60%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  .bar-container{
    width: 100%;
    display: block !important;
  }
  
  .rating{
    border: 2px solid #C6C6C6;
  }