
<app-spinner-loader *ngIf="loader.isLoading | async">
</app-spinner-loader>

<mat-horizontal-stepper #stepper linear *ngIf="!(loader.isLoading | async)">
    <mat-step>
        <mat-card class="my-5 col-md-5">
            <mat-card-title class="text-center">Welcome</mat-card-title>
            <mat-card-subtitle class="text-center">Take the 5-minutes survey now</mat-card-subtitle>
            <mat-card-subtitle>
                <p>
                    We have the lots of idea how to make The Product better, 
                    But we realized that what we think does'nt really matter. <strong>Its what you think</strong> . 
                    its your ideas that should dictate every decision we make here.
                </p>
                <p class="my-3">
                    can you spare 5 minutes and tell us to improve?
                    <br>
            </mat-card-subtitle>
            <mat-card-footer align="end" class="py-3">
                <button class="mx-3" mat-raised-button color="primary"  matStepperNext>proceed</button>
            </mat-card-footer>
        </mat-card>
    </mat-step>
    <form [formGroup]="surveyForm">
        <div *ngFor = "let items of Question">
            <ng-template [ngIf]="items.fieldData.ControlType_xt == 'textbox'">
                <mat-step [completed]="this.surveyForm.get(items.fieldData.Id_xt).valid">
                    <mat-card class="col-md-5 my-5">
                        <mat-card-content>
                            <mat-form-field>
                                <mat-label>{{items.fieldData.Questions_xt}}</mat-label>
                                <input matInput [formControlName]="items.fieldData.Id_xt">
                                <small *ngIf="this.surveyForm.get(items.fieldData.Id_xt).errors?.pattern && items.fieldData.Id_xt== 'email'">
                                    Invalid email (enter like: example@gmail.com)
                                </small> 
                                <small *ngIf="this.surveyForm.get(items.fieldData.Id_xt).errors?.pattern && items.fieldData.Id_xt=='name'">
                                    Invalid name (must containe atleast 2 character)
                                </small> 
                            </mat-form-field>
                            <small *ngIf="this.surveyForm.get(items.fieldData.Id_xt).invalid">
                                Enter required data
                            </small>
                        </mat-card-content>
                        <mat-card-footer align="end" class="py-3">
                            <!-- <button *ngIf="disabled"  mat-raised-button color="aceent" (click)="editEmail(); disabled = !disabled">Edit</button> -->
                            <button class="mx-3" mat-raised-button color="primary"  matStepperPrevious>next</button>
                            <button class="mx-3" mat-raised-button color="primary"  matStepperNext>next</button>
                        </mat-card-footer>
                    </mat-card>
                </mat-step>
            </ng-template>

            <ng-template [ngIf]="items.fieldData.ControlType_xt == 'radioGroup'">
                <mat-step [completed]="this.surveyForm.get(items.fieldData.Id_xt).valid">
                    <mat-card class="col-md-5 my-5">
                        <mat-card-content>
                            <mat-label>{{items.fieldData.Questions_xt}}</mat-label>
                                <mat-radio-group aria-label="Select an option" [formControlName]="items.fieldData.Id_xt">
                                    <mat-radio-button *ngFor="let feature of items.portalData.surveyOptions"  [value]="feature['surveyOptions::Options_xt']">
                                        {{feature['surveyOptions::Options_xt']}}
                                    </mat-radio-button>
                                </mat-radio-group>
                        </mat-card-content>
                        <small *ngIf="this.surveyForm.get(items.fieldData.Id_xt).invalid">
                            Select one of the above option
                        </small>
                        <mat-card-footer  align="end" class="py-3">
                            <button mat-raised-button color="primary" matStepperPrevious>previous</button>
                            <button class="mx-3" mat-raised-button color="primary" matStepperNext>Next</button>
                        </mat-card-footer>
                    </mat-card>
                </mat-step>
            </ng-template>

            <ng-template [ngIf] = "items.fieldData.ControlType_xt == 'checkbox'">
                <mat-step [completed]="featureSelected">
                    <mat-card class="col-md-5 my-5">
                        <mat-card-content>
                            <label id="radio-group-label"> {{items.fieldData.Questions_xt}}</label>
                                <div *ngFor='let controls of FeaturesArray.controls; let i = index'>
                                    <mat-checkbox color="primary" [formControl]="controls" (change)="getSelectedFeaturesValues()">
                                        {{features[i]}}
                                    </mat-checkbox>
                                </div>
                                <div *ngIf="!featureSelected">
                                    <small>Select atleast 3 option above is required</small>
                                </div>    
                        </mat-card-content>
                        <mat-card-footer  align="end" class="py-3">
                            <button mat-raised-button color="primary" matStepperPrevious>previous</button>
                            <button class="mx-3" mat-raised-button color="primary" matStepperNext>Next</button>
                        </mat-card-footer>
                    </mat-card>
                </mat-step>
            </ng-template>

            <ng-template [ngIf]="items.fieldData.ControlType_xt == 'dropdown'">
                <mat-step [completed]="this.surveyForm.get(items.fieldData.Id_xt).valid">
                    <mat-card class="col-md-5 my-5">
                        <mat-card-content>
                                    <mat-label>{{items.fieldData.Questions_xt}}</mat-label>
                                    <mat-form-field>
                                        <mat-select [formControlName]="items.fieldData.Id_xt" >
                                            <mat-option *ngFor="let res of items.portalData.surveyOptions" [value]="res['surveyOptions::Options_xt']">
                                            {{res['surveyOptions::Options_xt']}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>    
                        </mat-card-content>
                        <small *ngIf="this.surveyForm.get(items.fieldData.Id_xt).invalid">
                            Select option from the dropdown menu
                        </small>
                        <mat-card-footer  align="end" class="py-3">
                            <button mat-raised-button color="primary" matStepperPrevious>previous</button>
                            <button class="mx-3" mat-raised-button color="primary" matStepperNext>Next</button>
                        </mat-card-footer>
                    </mat-card>
                </mat-step>
            </ng-template>

            <ng-template [ngIf] = "items.fieldData.ControlType_xt == 'other'">
                <mat-step [completed]="this.surveyForm.get(items.fieldData.Id_xt).valid">
                    <mat-card class="col-md-5 my-5">
                        <mat-card-title class="text-center">Rate us !!!</mat-card-title>
                            <div class="text-center">
                                <ng-conatiner *ngFor="let no of star">
                                    <app-star-rating (starEnter)="onStarEnter($event)" (starLeave)="onStarLeave($event)" (starClicked)="onStarClicked($event)"
                                    [stars]="no" [rating]="rating || hoverState"></app-star-rating>
                                </ng-conatiner>
                            </div>
                            <small *ngIf="this.surveyForm.get(items.fieldData.Id_xt).invalid">
                                Rating us required
                            </small>
                        <mat-card-footer  align="end" class="py-3">
                            <button mat-raised-button color="primary" matStepperPrevious>previous</button>
                            <button class="mx-3" [disabled]='btnClicked' (click)="submitHandler()"  mat-raised-button color="primary" #btn>submit</button>
                        </mat-card-footer>
                    </mat-card>
                </mat-step>
            </ng-template>
        </div>
    </form>
</mat-horizontal-stepper>
 


