{{_http.token | async}}
<mat-horizontal-stepper #stepper linear>
    <form [formGroup]="surveyForm">
    <mat-step [completed]="emailVal.valid || disabled">
        <mat-card class="col-md-5 my-5">
            <mat-card-content>
               <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Ex. example.com" formControlName='email' (change)="changeEmail($event)">
                    <div *ngIf="emailVal.invalid && emailVal.touched">
                        <small *ngIf="emailVal.errors?.required">Email is required</small>
                        <small *ngIf="emailVal.errors?.pattern">Invalid email (eg: example@gmail.com)</small>
                    </div>
                </mat-form-field>
                <div *ngIf="emailVal.invalid && emailVal.untouched">
                    <small *ngIf="emailVal.errors?.required">Email is required please enter you e-mail</small>
                </div>
            </mat-card-content>
            <mat-card-footer align="end" class="py-3">
                <button *ngIf="disabled"  mat-raised-button color="aceent" (click)="editEmail(); disabled = !disabled">Edit</button>
                <button class="mx-3" mat-raised-button color="primary"  matStepperNext>next</button>
            </mat-card-footer>
        </mat-card>
    </mat-step>

    <mat-step [completed]="nameVal.valid">
        <mat-card class="col-md-5 my-5">
            <mat-card-content>
                <mat-form-field>
                    <mat-label>name</mat-label>
                    <input matInput placeholder="Ex. example.com" formControlName='name'>
                    <div *ngIf="nameVal.invalid && nameVal.touched">
                        <small *ngIf="nameVal.errors?.required">name is required</small>
                        <small *ngIf="nameVal.errors?.pattern">Must be min 2 character</small>
                    </div>
                </mat-form-field>
                <div *ngIf="nameVal.invalid && nameVal.untouched">
                    <small *ngIf="nameVal.errors?.required">Name is required please enter you name</small>
                </div>
            </mat-card-content>
            <mat-card-footer align="end" class="py-3">
                <button class="mx-3" mat-raised-button color="primary" matStepperPrevious>previous</button>
                <button class="mx-3" mat-raised-button color="primary" matStepperNext>next</button>
            </mat-card-footer>
        </mat-card>
    </mat-step>

    <mat-step [completed]="ageVal.valid">
        <mat-card class="col-md-5 my-5">
            <mat-card-content>
                 <label id="checkbox-group-label">What is your age?</label>
                <mat-slider 
                    name="age"
                    thumbLabel
                    tickInterval="1"
                    min="10"
                    max="100"
                    formControlName="age">
                </mat-slider>
                <div *ngIf="ageVal.invalid">
                    <small *ngIf="ageVal.errors?.required">age is required slide above circle</small>
                </div>
            </mat-card-content>
            your age is {{surveyForm.value.age}}
            <mat-card-footer align="end" class="py-3">
                <button class="mx-3" mat-raised-button color="primary" matStepperPrevious>previous</button>
                <button class="mx-3" mat-raised-button color="primary" matStepperNext>next</button>
            </mat-card-footer>
        </mat-card>
    </mat-step>

    <mat-step [completed]="reviewVal.valid">
        <mat-card class="col-md-5 my-5">
            <mat-card-content>
               <label id="checkbox-group-label">Which of the following words would you use to describe our product?</label>
                <mat-radio-group aria-label="Select an option" formControlName="review">
                    <mat-radio-button *ngFor="let type of productReview"  [value]="type">
                        {{type}}
                    </mat-radio-button>
                </mat-radio-group>
            </mat-card-content>
            <div *ngIf="reviewVal.invalid">
                <small *ngIf="reviewVal.errors?.required">select one of the above option</small>
            </div>
            <mat-card-footer  align="end" class="py-3">
                <button mat-raised-button color="primary" matStepperPrevious>previous</button>
                <button class="mx-3" mat-raised-button color="primary" matStepperNext>Next</button>
            </mat-card-footer>
        </mat-card>
    </mat-step>

    <mat-step [completed]="featureSelected">
        <mat-card class="col-md-5 my-5">
            <mat-card-content>
                <label id="radio-group-label"> Which 3 features are the most valuable to you?</label>
                <div *ngFor='let controls of FeaturesArray.controls; let i = index'>
                    <mat-checkbox color="primary" [formControl]="controls" (change)="getSelectedFeaturesValues()">
                        {{features[i]}}
                    </mat-checkbox>
                </div>
                <div *ngIf="!featureSelected">
                    <small>Select atleast 3 option above is required</small>
                </div>
            </mat-card-content>
            <mat-card-footer  align="end" class="py-3">
                <button mat-raised-button color="primary" matStepperPrevious>previous</button>
                <button class="mx-3" mat-raised-button color="primary" matStepperNext>Next</button>
            </mat-card-footer>
        </mat-card>
    </mat-step>

    <mat-step [completed]="responseVal.valid">
        <mat-card class="col-md-5 my-5">
            <mat-card-content>
                <label id="radio-group-label"> How responsive have we been to your questions or concerns about our products?</label>
                <mat-form-field>
                    <mat-select formControlName="responsiveness" >
                      <mat-option *ngFor="let type of responsive" [value]="type">
                        {{type}}
                      </mat-option>
                    </mat-select>
                    <div *ngIf="responseVal.invalid && responseVal.touched">
                        <small *ngIf="responseVal.errors?.required">select one of the above option</small>
                    </div>
                  </mat-form-field>
                  <div *ngIf="responseVal.invalid && responseVal.untouched">
                    <small *ngIf="responseVal.errors?.required">Its is required field please select options above</small>
                </div>
            </mat-card-content>
            <mat-card-footer  align="end" class="py-3">
                <button mat-raised-button color="primary" matStepperPrevious>previous</button>
                <button class="mx-3" mat-raised-button color="primary" matStepperNext>Next</button>
            </mat-card-footer>
        </mat-card>
    </mat-step>

    <mat-step [completed]="ratingVal.valid">
        <mat-card class="col-md-5 my-5">
            <mat-card-title class="text-center">Rate us !!!</mat-card-title>
            <div class="text-center">
                <ng-conatiner *ngFor="let no of star">
                    <app-star-rating (starEnter)="onStarEnter($event)" (starLeave)="onStarLeave($event)" (starClicked)="onStarClicked($event)"
                    [stars]="no" [rating]="rating || hoverState"></app-star-rating>
                </ng-conatiner>
                <div *ngIf="ratingVal.invalid">
                    <small *ngIf="ratingVal.errors?.required">please rate us required</small>
                </div>
            </div>
            <mat-card-footer  align="end" class="py-3">
                <button mat-raised-button color="primary" matStepperPrevious>previous</button>
                <button class="mx-3" (click)="submitHandler()"  mat-raised-button color="primary" #btn>submit</button>
            </mat-card-footer>
        </mat-card>
    </mat-step>
</form>
</mat-horizontal-stepper>

