.mat-card{
    margin: auto;
}
.mat-form-field{
    width: 100%;
    margin:auto;
}
label{
    display: block;
}
mat-radio-button{
    display: block;
}

mat-checkbox{
    display: block;
}
app-star-rating{
    cursor: pointer;
}
mat-slider{
    width: 100%;
}