<mat-card class="my-5 col-md-5">
    <mat-card-title class="text-center">Welcome</mat-card-title>
    <mat-card-subtitle class="text-center">Take the 5-minutes survey now</mat-card-subtitle>
    <mat-card-subtitle>
        <p>
            We have the lots of idea how to make The Product better, 
            But we realized that what we think does'nt really matter. <strong>Its what you think</strong> . 
            its your ideas that should dictate every decision we make here.
        </p>
        <p class="my-3">
            can you spare 5 minutes and tell us to improve?
            <br>
            Enter you Email and continue.
    </mat-card-subtitle>
    <mat-card-content>
            <mat-form-field>
               <mat-label>Email</mat-label>
               <input matInput required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" placeholder="Ex. example@gmail.com" 
                autocomplete="off" #email="ngModel" #email name="email" ngModel>
               <div *ngIf="email.errors && (email.invalid && email.touched)">
                    <small *ngIf="email.errors.required">Email is required</small>
                    <small *ngIf="email.errors.pattern">Invalid email (eg: example@gmail.com)</small>
                </div>
            </mat-form-field>

            <mat-card-footer align="end" class="py-3">
                <button (click)="checkEmail(email)" class="mx-3" mat-raised-button color="primary">Proceed</button>
            </mat-card-footer>
    </mat-card-content>
</mat-card>